{% extends "layout.html" %}
{% block title %}
		Register
{% endblock %}
{% block body %}
	{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
		{% if 'user_id' in session %}
			<p>Hello World</p>
		{% else %}
			<p>-- User Registration --</p>
			<br/>
			<form action="" method="post">
				Username:  <input type="text" name="username" />
				<br />
				Password:  <input type="password" name="password" />
				<br />
				<input type="submit" value="Register" />
			</form>
		{% endif %}
{% endblock %}